PORT=:8080

PRODUCTION_ENVIRONMENT=false
CLIENT_DOMAIN=localhost
PROJECT_NAME=elcompresso

# Storage
STORAGE_TYPE=s3 # yeah, initally i wanted to be able to switch btw local and cloud storage, but nah

# AWS S3
AWS_REGION=eu-north-1
AWS_BUCKET=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key